$main: #4A4A4A;
$plain: #f2f2f3;
button{
  padding: 0;
  border: none;
  &::after{
    border: none;
  }
  &[disabled]{
    opacity: 0.5;
  }
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
button[size="mini"]{
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  border-radius: 20px;
  &.primary{
    background-color: $main;
    color: #fff;
    &:active{
      background-color: darken($main, 5%);
    }
  }
  &.plain{
    background-color: #f2f2f3;
    &:active{
      background-color: darken($plain, 5%);
      color: $main;
    }
  }
}